<form action="test2" method="get">
<fieldset>

 
 <label>Cual de estos verbos significa comer en ingles?</label><br> 
  <input type="radio" id="html" name="op1" value="1" />
  <label for="html">Drink</label><br>


 
  <input type="radio" id="css" name="op1" value="2"/>
  <label for="css">Eat</label><br>



  <input type="radio" id="javascript" name="op1" value="3" />
  <label for="javascript">Run</label><br><br>



<hr><br>

 <label>Cual de estos verbos significa dormir en ingles?</label><br> 
  <input type="radio" id="html" name="op2" value="4" />
  <label for="html">Kick</label><br>

  <input type="radio" id="css" name="op2" value="5" />
  <label for="css">Jump</label><br>

  <input type="radio" id="javascript" name="op2" value="6" />
  <label for="javascript">Sleep</label><br><br>

<hr><br>

 <label>Cual de estos verbos significa cantar en ingles?</label><br> 
  <input type="radio" id="html" name="op3" value="7" />
  <label for="html">Sing</label><br>

  <input type="radio" id="css" name="op3" value="8" />
  <label for="css">Cast</label><br>

  <input type="radio" id="javascript" name="op3" value="9" />
  <label for="javascript">Manage</label><br><br>

<button type="submit">Submit</button>
</fieldset>
</form> 